<!doctype html>

<html class="home blog no-js" lang="en-US">
<head>
    <title>Kaaf Events</title>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/user/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/user/css/print.css" type="text/css" media="print"/>
    <link rel="icon" href="/public/user/images/kaaflogo.png">



    <script src='/public/user/js/jquery-3.0.0.min.js'></script>
    <script src='/public/user/js/jquery-migrate-3.0.1.min.js'></script>
  

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">




</head>
<body class="home sticky-menu sidebar-off" id="top">


 <!-- Header  -->
 <%- include('header') -%> 
 <!-- Header end  -->


<div class="hero" style="background-image: url('/public/user/images/wedding1.jpg'); text-align:right;">
   
   
    <div class="hero-inner">
        
        <div class="inner">
            <h1><span class="border border-top border-bottom">Kaaf</span></h1>
            <div class="hero-line-one"></div>
            <div class="hero-line-one"><span class="border border-bottom">Events</span></div>
        </div>

        <a class="more-arrow" href="#content"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>



<!-- starting quote -->


<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main main-archive">
            <div class="loop">



                <!-- quotes from here -->




                <!-- first quote -->

<article class="post format-gallery post_format-post-format-gallery">


   

    <div class="inner">

        <h2 class="entry-title">An experience to remember</h2>
        
        <div class="post-content">
            <p><br>Kaaf event is a group of creative professionals dedicated to crafting unique and personalized event experiences. From designing the visual aesthetics to integrating technology and entertainment, we ensures that every aspect of the event aligns with the your vision and objectives, resulting in a memorable and one-of-a-kind occasion. Our collective expertise transforms ideas into reality, making each event a reflection of the your passion and vision.</p>
            <blockquote><p>“If you can visualize it, if you can dream it, there’s some way to do it.”<cite>Walt Disney</cite></p></blockquote>
            <p><br>From made-to-measure weddings to corporate events that nurture company connections, Kaaf Events has a flair for transforming bespoke spaces into unforgettable experiences.<br><br></p> <a
                        href="/login"
                        class="more-link">CUSTOMIZE YOUR DREAM EVENT</a></p>
        </div>


        <ul class="meta bottom">


            <li class="cat post-tags"><a
                    href="#">See Our Other Works</a>
                
            </li>


        </ul>

    </div>


</article>


</div>
</section>
</div>

</div>



<!-- firts quote end -->



<!-- starting quote end -->






<!-- service list start -->



<div class="container-sm">

<div class="home-sticky" id="content">


    <h2 class="home-sticky-title">Our Services</h2>


    <div class="sticky-inner">

        <aside class="home-sticky-post post has-post-thumbnail sticky">

              <span class="post-image">
                  <a href="#">
                  <img src="../../public/user/images/wedding.jpg"
                     class="attachment-sticky size-sticky" alt=""/>
                  </a>
              </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Weddings</a>
                </h3>

            </div>

        </aside>

        <aside class="home-sticky-post post has-post-thumbnail sticky ">

            <span class="post-image">
                  <a href="#">
                  <img src="../../public/user/images/birthday.jpg"
                     class="attachment-sticky size-sticky" alt=""/>
                  </a>
              </span>

            <div class="inner">
                <h3 class="entry-title">
                    <a href="#">Birthdays</a>
                </h3>

                
            </div>

        </aside>

        




        <aside class="home-sticky-post post has-post-thumbnail sticky">

            <span class="post-image">
                <a href="#">
                <img src="../../public/user/images/bridal.jpg"
                   class="attachment-sticky size-sticky" alt=""/>
                </a>
            </span>

          <div class="inner">
              <h3 class="entry-title">
                  <a href="#">Bridal Shower</a>
              </h3>

          </div>

      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">

        <span class="post-image">
            <a href="#">
            <img src="../../public/user/images/babyshower.jpg"
               class="attachment-sticky size-sticky" alt=""/>
            </a>
        </span>

      <div class="inner">
          <h3 class="entry-title">
              <a href="#">Baby Shower</a>
          </h3>

      </div>

  </aside>


  <aside class="home-sticky-post post has-post-thumbnail sticky">

    <span class="post-image">
      <a href="#">
          <img  src="../../public/user/images/gathering.jpg"
           class="attachment-sticky size-sticky" alt=""/>
        </a>
    </span>

  <div class="inner">
      <h3 class="entry-title">
          <a href="#">Gatherings</a>
      </h3>

     
  </div>

</aside>

        


    </div>
</div>


</div>

<!-- service list end -->





<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main main-archive">
            <div class="loop">



                <!-- quotes from here -->



                <article class="post format-quote has-post-thumbnail post_format-post-format-quote">


                    <div class="inner">

                        <div class="post-content">
                            <blockquote class="content-quote">
                                <p>Event planning is a symphony of emotions, logistics, and creativity, with the end goal of making magic happen.</p>
                                <cite>Sasha Souza</cite>
                            </blockquote>
                        </div>


                    </div>
                </article>



            </div>


        </section>


    </div><!-- /main-wrap -->


</div>







<div class="container-sm">

    <div class="home-sticky" id="content">
    
    
        <h2 class="home-sticky-title">Our Top Collaborators</h2>
    
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="banner">
                        <img src="../../public/user/images/valencia.png" alt="collab 1">
                        <img src="../../public/user/images/aryabhavan.png" alt="collab 5">
                        <img src="../../public/user/images/aspin.png" alt="collab 2">
                        <img src="../../public/user/images/dheputtu.png" alt="collab 5">
                        <img src="../../public/user/images/landmark.png" alt="collab 5">
                        <img src="../../public/user/images/luxmore.png" alt="collab 5">
                        <img src="../../public/user/images/paragon.png" alt="collab 3">
                        <img src="../../public/user/images/raviz.png" alt="collab 3">
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    </div>




        
        
        </div>
    







    


<div class="footer-widgets widget-count-4" id="footr1">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="../../public/user/images/logo.png" alt="Kaaf Events"/>


                <h4>Kaaf Events</h4>

                <div class="mt-about-bio">
                    <p>Kaaf Events & Catering is a leading event management group based in Kozhikode, with a dedicated team of event professionals who specialize in turning customers dreams into reality.</p>
                </div>


            </div>
        </div>
        <!-- <div class="widget footer"><h4>Recent Posts</h4>
            <ul>
                <li>
                    <a href="#">The Lollipop</a>
                </li>
                <li>
                    <a href="#">Running through Chicago</a>
                </li>
                <li>
                    <a href="#">The Apothecary</a>
                </li>
                <li>
                    <a href="#">The Flowers</a>
                </li>
                <li>
                    <a href="#">The Sunny Day</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Categories</h4>
            <ul>
                <li class="cat-item cat-item-6">
                    <a href="#" title="A cute little description would go in here">Blog</a>
                </li>
                <li class="cat-item cat-item-7">
                    <a href="#" title="A cute little description would go in here">Cute</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="#">Fitness</a>
                </li>
                <li class="cat-item cat-item-9">
                    <a href="#">Fun</a>
                </li>
            </ul>
        </div>
        <div class="widget footer"><h4>Gallery</h4>
            <div class="textwidget">
                <img src="images/gallery.png" alt="">
            </div>
        </div>
    </div>

</div> -->


 <!-- footer  -->
 <%- include('footer') -%> 
 <!-- footer end  -->


<script>var ie9 = false;</script>
<script src="/public/user/js/global-plugins.min.js"></script>
<script src="/public/user/js/main.js"></script>





<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</body>
</html>
